/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

 
#btn1,#btn2,#btn3{
	/*-fx-background-color:  linear-gradient(orange   , limegreen );*/
    -fx-text-fill: black;
    -fx-padding: 5 30 5 30;
   }
#btn1:after,#btn2:after,#btn3:after {
	-fx-border-width: 17px 0 17px 17px;
}